<h1>Study Has Managers</h1>

<table>
  <thead>
    <tr>
      <th>Manager</th>
      <th>Study</th>
      <th>Approve</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @study_has_managers.each do |study_has_manager| %>
      <tr>
        <td><%= study_has_manager.manager %></td>
        <td><%= study_has_manager.study %></td>
        <td><%= study_has_manager.approve %></td>
        <td><%= link_to 'Show', study_has_manager %></td>
        <td><%= link_to 'Edit', edit_study_has_manager_path(study_has_manager) %></td>
        <td><%= link_to 'Destroy', study_has_manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Study Has Manager', new_study_has_manager_path %>
