

<h1>User Has Studies</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Study</th>
      <th>User role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_has_studies.each do |user_has_study| %>
      <tr>
        <td><%= user_has_study.user %></td>
        <td><%= user_has_study.study %></td>
        <td><%= user_has_study.user_role %></td>
        <td><%= link_to 'Show', user_has_study %></td>
        <td><%= link_to 'Edit', edit_user_has_study_path(user_has_study) %></td>
        <td><%= link_to 'Destroy', user_has_study, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Has Study', new_user_has_study_path %>
