<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_has_study.user %>
</p>

<p>
  <strong>Study:</strong>
  <%= @user_has_study.study %>
</p>

<p>
  <strong>User role:</strong>
  <%= @user_has_study.user_role %>
</p>

<%= link_to 'Edit', edit_user_has_study_path(@user_has_study) %> |
<%= link_to 'Back', user_has_studies_path %>
