<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_has_study.user.user_name %>
</p>

<p>
  <strong>Study:</strong>
  <%= @user_has_study.study.study_name %>
</p>

<p>
  <strong>User role:</strong>
  <%= @user_has_study.user_role? %>
</p>


<%= link_to 'Back', user_has_studies_path %>
