<%= form_with(model: [@category, @study], local: true) do |form| %>



  <div class="field">
    <%= form.label :study_name %>
    <%= form.text_field :study_name %>
  </div>

  <div class="field">
    <%= form.label :intro %>
    <%= form.text_field :intro %>
  </div>

  <div class="field">
    <%= form.label :goal %>
    <%= form.text_field :goal %>
  </div>

  <div class="field">
    <%= form.label :curriculem %>
    <%= form.text_field :curriculem %>
  </div>

  <div class="field">
    <%= form.label :max_number %>
    <%= form.number_field :max_number %>
  </div>


  <% if current_user.has_role? :admin  %>
  <div class="field">
    <%= form.label :status %>
    <%= form.check_box :status %>
  </div>
 <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
