

<div class="jumbotron" style="margin-bottom: 3 ">
	<div class="container">
        <h1 style="font-family:inherit">스터디 관리</h1>
    </div>
</div>



<p>
  <strong>카테고리:</strong>
  <%= @study.category %>
</p>

<p>
  <strong>Study name:</strong>
  <%= @study.study_name %>
</p>

<p>
  <strong>Intro:</strong>
  <%= @study.intro %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @study.goal %>
</p>

<p>
  <strong>Curriculem:</strong>
  <%= @study.curriculem %>
</p>

<p>
  <strong>Max number:</strong>
  <%= @study.max_number %>
</p>

<p>
  <strong>Status:</strong>
  <%= @study.status %>
</p>

<%= link_to 'Edit', edit_study_path(@study) %> |
<%= link_to 'Back', studies_path %>
