

<div class="jumbotron" style="margin-bottom: 3 ">
	<div class="container">
        <h1 style="font-family:inherit"><%= @study.study_name %></h1>
    </div>
</div>



<p>
  <strong>카테고리 :</strong>
  <%= @study.category.category_name %>
</p>

<p>
  <strong>개요 : </strong>
  <%= @study.intro %>
</p>

<p>
  <strong>목표 : </strong>
  <%= @study.goal %>
</p>

<p>
  <strong>커리큘럼 :</strong>
  <%= @study.curriculem %>
</p>

<p>
  <strong>정원 :</strong>
  <%= @study.max_number %>
</p>

<p>
  <strong>개설 상태 :</strong>
  <%= @study.status %>
</p>

<% if current_user.has_role? :admin  %>
<%= link_to 'Edit', edit_category_study_path(@study) %>
<% end %>


<% if current_user.has_role? :admin %>
  | <%= link_to '스터디 관리', studies_path %>
<% elsif @study.study_status? %>
  <%= button_to '신청하기', create_uhs_path(@user, @study), :method => :post %>
<% end %>
