
<br>
<p>
  <strong>Category name:</strong>
  <%= @category.category_name %>
</p>

<table>
  <% @category.studies.each do |study| %>
    <tr>
      <td>
      <%= link_to study.study_name, [study.category, study] %></td>
      <td>
      <% if (current_user.has_role? :user) && (@study.study_status?) %>
        <%= button_to '신청하기', create_uhs_path(current_user.id, @study), :method => :post %>
      <% end %>
      </td>
      <% if can? :edit, @category.studies %>
      <td>  | <%= link_to 'Edit', edit_category_study_path(@category, study) %> | </td>
      <% end %>
      <% if can? :destroy, @category.studies%>
      <td> | <%= link_to 'Destroy', [study.category, study], method: :delete, data: { confirm: 'Are you sure?' } %> | </td>
      <% end %>
    </tr>
  <% end %>
</table>

<br>
<hr>


<p>
  <strong>스터디 제안하기</strong>
</p>


<%= render 'studies/form' %>


<hr>
<% if current_user.has_role? :admin  %>
<%= link_to '스터디 관리', studies_path %>
<% end %>
<hr>
<hr>
<%= link_to '모든 카테고리', categories_path(@category) %>
<hr>
